body{
    background: rgb(227, 230, 230);
    font-family: Verdana;
    max-width: 900px;
    margin:auto
}
#title, .subtitle, .post_title{
    color: rgb(97, 97, 101);
}
#title {
    font-size: 40px;
    text-transform: uppercase;
}
.post_title {
 font-size: 16px;   
 font-style: italic;
 margin: 0;
 margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid rgb(53, 19, 19);
    margin-bottom: 15px;
    border-radius: 15px;
}
.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}
.post_image {
    margin-bottom: 15px;
    width: 100%;
}
.avatar {
    border: 2px solid black;
    border-radius: 50%;
    
}
.contact_list 
{
    list-style-type: none;
    padding-left:  15px;

}
.contact_list li a 
{
   color:blue 
}